/* General Layout
   ========================================================================== */

 /*  */
body {
  background: #F0F8FF;
  color: #000814;
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(45deg, #001D3D, #003566);
  color: #F0F8FF;
  text-shadow: 1px 1px 2px #0077B6, 0 0 1em #00B4D8, 0 0 0.2em #03045E;
}

aside {
  border-right: 2px dashed #00B4D8;
}

li {
  list-style: none;
  background-color: #023047;
  color: #F0F8FF;
}

/* Class
   ========================================================================== */
/* For testing purposes */
.show-container {
  border: 2px dashed #00B4D8;
}

.adjust-container {
  padding: 0.5rem 0.75rem;
  margin: 0px;
}

/* IDs
   ========================================================================== */


#search-button {
  width: 100%;
}

#weather-display {
  border: 2px solid #000814;
  display: none;
}
